<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About Me</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/static/styles.css">
</head>
  <body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-black">
            <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="/about_me">About Me</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" target="_blank" href="https://hairstory.com/?rfsn=7191846.68d686">Products</a>
                        </li>
                        <li class="nav-item">
                        <a class="nav-link" href="/book">Book</a>
                        </li>    
                        <li class="nav-item">
                          <a class="nav-link" target="_blank" href="https://www.instagram.com/tiff_thehairsmith/">Instagram</a>
                          </li>                    
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
        <div class="row">
            <div class="col-md">
              <p>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Hi, I'm Tiffanie, a seasoned hairstylist with over 20 years of experience in the industry. 
                Born in Dallas and having lived in Portland, Oregon for several years, I have been fortunate to experience the best of both worlds. 
                Specializing in razor cuts, shags, precision cutting, and working with thick hair, I have honed my skills to deliver exceptional results. 
                I am also trained in DevaCurl cutting, allowing me to cater to the unique needs of curly hair. With a background in color correction, 
                I have a keen eye for detail and excel in creating natural balayage-style highlights.</p> 
                <p>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I believe in working closely with my clients, taking their lifestyle into consideration, and providing them with personalized advice on styling and maintenance, whether it's a wash-and-go routine or a specific look. 
                Having spent my teen years in Portland, I developed a deep appreciation for music, vintage styles, and the vibrant culture of the Pacific Northwest. 
                Attending concerts and exploring the region's natural beauty shaped my artistic sensibilities and continue to inspire my work today. 
                After gaining valuable experience in New York for 5 years, I returned to my roots in Dallas, bringing with me a wealth of knowledge and a fresh perspective. </p>
                <p>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;I draw inspiration from music, movies, pop culture, art, and rock and roll, infusing creativity into every hairstyle I create. 
                Outside of the salon, I enjoy indulging in my hobbies, which include home projects, spending time with my dogs, nurturing plants, and exploring the great outdoors. 
                These experiences help me stay connected to the world around me and bring a unique perspective to my craft. 
                I am passionate about making people feel confident and beautiful through the art of hairstyling. 
                With my expertise, attention to detail, and dedication to providing exceptional service, I strive to create a memorable experience for each and every client.</p>
              </p>
            </div>
          </div>
    </main>
    <footer>Copyright 2023 - Tiffanie Zaharko</footer
	<script src="index.js"></script>
  </body>
</html>
