<!DOCTYPE html>
<html>
<head>
<title>Tiffanie Zaharko</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="script.js"></script>
</head>

<body>
    <div class="w3-content w3-container w3-padding-64 w3-animate-opacity section" id="thank_you">
        <h3 class="w3-center">THANK YOU</h3>
        <p class="w3-center">We'll be in touch shortly!</p>
        <div class="w3-center">
            <button class="w3-button w3-black" onclick="window.location.href = 'index.html';">Return to site</button>
        </div>
    </div>
</body>
</html>